# Fichiers de configuration locaux
.env.local
.env

# Dépendances
node_modules/
/backend/build/
/desktop-client/build/
/frontend/dist/

# Fichiers IDE
.idea/
*.iml
.vscode/
*.swp

# Fichiers système
.DS_Store

# Fichiers de log
*.log

# Fichiers de build Gradle
.gradle/
build/
out/

commit-fichier.sh

create-structure.sh